@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-repeat: no-repeat;
  min-height: 100vh; /* Set a minimum height for the body */
  max-height: 100%;
  overflow: auto;
  background-size: cover;
  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
}

.total-balance-wrapper {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: 50%;
  background-color: #fff;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  gap: 10px; /* Adjust the gap value as needed */
  flex-wrap: wrap;
  flex-grow: 1;
}

.total-balance {
  width: 30%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #00ccff;
  flex-wrap: wrap;
  border-radius: 10px;
}

.total-balance h1,
.total-expense h1,
.total-income h1 {
  flex-grow: 1;
}

.total-balance-wrapper p {
  padding-right: 16%;
  color: #737373;
}

/* Add a media query for screens with a maximum width of 600px */
@media (max-width: 1250px) {
  .total-balance-wrapper {
    flex-direction: row;
  }

  .total-balance,
  .total-expense,
  .total-income {
    width: 100%;
  }

  .total-balance h1,
  .total-expense h1,
  .total-income h1 {
    font-size: 18px; /* Adjust the font size as needed */
  }
}

.total-income {
  width: 30%;
  padding: 1%;
  background-color: #3cff53;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.total-expense {
  width: 30%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ff4848;
  border-radius: 10px;
}

.total-expense p {
  filter: brightness(150%);
}

.balance-tracker-wrapper {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: 20px auto;

  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  border-radius: 10px;
  padding: 1%;
}

.container-one {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1%;
}

.mini-container-one {
  display: flex;
  padding-left: 1%;
  gap: 2%;
  width: 100%;
}

/* Add these styles to your existing CSS */

.amount,
.description,
.expense-type,
.currency-type {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filterType {
  width: 100%;
  height: 3rem;
  gap: 1%;
  padding-top: 2.5%;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Rest of your existing CSS */

@media (max-width: 1250px) {
  .mini-container-one {
    flex-direction: column;
    gap: 10px; /* Adjust the gap value as needed */
  }

  .currecny-type,
  .amount,
  .description,
  .expense-type,
  .currency-type {
    width: 100%;
  }
}

.currecny-type {
  width: 100%;
  height: 3rem;
  gap: 1%;
  padding-top: 2.5%;
}

.create-btn button {
  font-size: 130%;
  border: 1px solid black;
  background-color: rgb(93, 223, 255);
  padding: 10% 6%;
  margin: 10%;
  border-radius: 5px;
  cursor: pointer;
}

#output {
  margin-top: 10px;
}
.font-icons-div {
  width: 6%;
  font-size: 150%;
  display: flex;
  justify-content: space-between;
}

.font-icons-div i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.amount,
.description,
.expense-type,
.currency-type {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.create-btn {
  margin-top: 2%;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.slider-container {
  margin-left: 20px;
  margin-top: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#rangeSlider {
  width: 100%;
}

.user-inputs {
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

#user-inputs-wrapper {
  background-color: #fff;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 20px auto;
  max-height: 60vh; /* Set a maximum height for the wrapper */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
