* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #3498db;
  color: #fff;
}

.total-balance-wrapper {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

.total-balance {
  width: 20%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #00ccff;
  border-radius: 10px;
}

.total-balance-wrapper p {
  padding-right: 16%;
  color: #737373;
}

.total-income {
  width: 20%;
  padding: 1%;
  background-color: #3cff53;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.total-expense {
  width: 20%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ff4848;
  border-radius: 10px;
}

.total-expense p {
  filter: brightness(150%);
}

.balance-tracker-wrapper {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1%;
}

.container-one {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1%;
}

.mini-container-one {
  display: flex;
  padding-left: 1%;
  gap: 2%;
  width: 100%;
}

.currecny-type {
  width: 100%;
  height: 3rem;
  gap: 1%;
  padding-top: 2.5%;
}

.create-btn button {
  font-size: 130%;
  border: 1px solid black;
  background-color: rgb(93, 223, 255);
  padding: 10%;
  margin: 10%;
  border-radius: 5px;
  cursor: pointer;
}

#output {
  margin-top: 10px;
}
.font-icons-div {
  width: 6%;
  font-size: 150%;
  display: flex;
  justify-content: space-between;
}

.font-icons-div i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.amount,
.description,
.expense-type,
.currency-type {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.create-btn {
  margin-top: 2%;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.slider-container {
  flex: 1;
  margin-left: 20px;
  flex-basis: 100%;
  margin-top: 20px;
}

#rangeSlider {
  width: 100%;
}

.user-inputs {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

#user-inputs-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
}
